.flat-modal-spinner {
  background-image: url(../Images/loader.gif);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 200px;
}

/**
 * adding .flat-cmdi-template-select and .flat-cmdi-template-delete
 * to display label and trash icon next to each other
 */
.dropdown-menu > li {
  display: flex;
}
.dropdown-menu > li > a.flat-cmdi-template-select {
  flex: 1;
}

.dropdown-menu > li > a.flat-cmdi-template-delete {

  width:30px;
  color: red;
}

/**
 * aligning panel actions to the right, and fixing padding between the actions
 * to prevent newlines in the panel block
 */
.panel-actions {

  display: flex;
  float: right;
}

.panel-actions .dropdown {

  flex: 1;
  margin-left: 5px;
}

.panel-actions .dropdown button.dropdown-toggle {
  padding: 0;
  background: none;
}
