<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) 2015-2016 DANS - Data Archiving and Networked Services (info@dans.knaw.nl)

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

            http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>EASY Deposit Service</display-name>
    
    <!-- always go via HTTPS -->
    <!--
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>HTTPSOnly</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    -->

    <context-param>
        <param-name>config-impl</param-name>
        <param-value>nl.knaw.dans.api.sword2.SwordConfig</param-value>
        <description>
            The SWORD configuration
        </description>
    </context-param>

    <context-param>
        <param-name>service-document-impl</param-name>
        <param-value>nl.knaw.dans.api.sword2.ServiceDocumentManagerImpl</param-value>
        <description>
            The ServiceDocumentManager server implementation
        </description>
    </context-param>

    <context-param>
        <param-name>collection-deposit-impl</param-name>
        <param-value>nl.knaw.dans.api.sword2.CollectionDepositManagerImpl</param-value>
        <description>
            The CollectionDepositManager server implementation
        </description>
    </context-param>

    <context-param>
        <param-name>collection-list-impl</param-name>
        <param-value>nl.knaw.dans.api.sword2.CollectionListManagerImpl</param-value>
        <description>
            The CollectionListManager server implementation
        </description>
    </context-param>

    <context-param>
        <param-name>container-impl</param-name>
        <param-value>nl.knaw.dans.api.sword2.ContainerManagerImpl</param-value>
        <description>
            The ContainerManager server implementation
        </description>
    </context-param>

    <context-param>
        <param-name>media-resource-impl</param-name>
        <param-value>nl.knaw.dans.api.sword2.MediaResourceManagerImpl</param-value>
        <description>
            The MediaResourceManager server implementation
        </description>
    </context-param>

    <context-param>
        <param-name>statement-impl</param-name>
        <param-value>nl.knaw.dans.api.sword2.StatementManagerImpl</param-value>
        <description>
            The StatementManager server implementation
        </description>
    </context-param>

    <listener>
        <listener-class>nl.knaw.dans.api.sword2.HomeDirInitializer</listener-class>
    </listener>

    <listener>
        <listener-class>nl.knaw.dans.api.sword2.LoggingInitializer</listener-class>
    </listener>

    <servlet>
        <servlet-name>HelloWorld</servlet-name>
        <servlet-class>nl.knaw.dans.api.sword2.HelloServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>servicedocument</servlet-name>
        <servlet-class>org.swordapp.server.servlets.ServiceDocumentServletDefault</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>collection</servlet-name>
        <servlet-class>org.swordapp.server.servlets.CollectionServletDefault</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>container</servlet-name>
        <servlet-class>org.swordapp.server.servlets.ContainerServletDefault</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>media</servlet-name>
        <servlet-class>org.swordapp.server.servlets.MediaResourceServletDefault</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>statement</servlet-name>
        <servlet-class>org.swordapp.server.servlets.StatementServletDefault</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>HelloWorld</servlet-name>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>servicedocument</servlet-name>
        <url-pattern>/servicedocument/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>collection</servlet-name>
        <url-pattern>/collection/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>container</servlet-name>
        <url-pattern>/container/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>media</servlet-name>
        <url-pattern>/media/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>statement</servlet-name>
        <url-pattern>/statement/*</url-pattern>
    </servlet-mapping>

</web-app>

