<configuration scan-="true">

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>INFO</level>
    </filter>
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %X{sip} : %msg%n</pattern>
    </encoder>
  </appender>
  
  <logger name="nl.mpi.tla.flat.deposit" level="INFO">
    <appender-ref ref="STDOUT" />
  </logger>

  <!--
  <root level="OFF">
    <appender-ref ref="STDOUT" />
  </root>
  -->
</configuration>
